*.mod
*.o
*.a
*.diff
*.exe
*.in
*.out
*~
*.speed
*.protex
*.aux
*.dvi
*.toc
*.xmltex
Doc/Tex/*.log
Doc/USERMANUAL.pdf 
Doc/DESIGN.pdf
Doc/STANDARDS.pdf

src/show_git_info.h

run*/
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
stand_alone.f90
BATL_size.f90
ModSize.f90
ModUser.f90
ModUser.f90.safe
ModEquation.f90
ModEquation.f90.safe
ModImplHypre.f90
ModHdf5.f90
Tmp_*
util/
share/
srcBATL/
data
dataCRASH
srcPostProc/*.log
srcPostProc/*.out
srcPostProc/*.dat
