*.mod
*.pyc
*.o
*.a
*.diff
*.exe
*~
*_orig_
*.speed
*.protex
*.aux
*.dvi
*.toc
*.xmltex
*#
.DS_Store
Doc/Tex/*.log
Doc/USERMANUAL.pdf 
Doc/DESIGN.pdf
Doc/STANDARDS.pdf

gitinfo.txt
src/show_git_info.h
src/ModOptimizeParam.f90

run*/
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
stand_alone.f90
BATL_size.f90
ModUser.f90
ModUser.f90.safe
ModEquation.f90
ModEquation.f90.safe
ModImplHypre.f90
ModHdf5.f90
Tmp_*
util/
share/
srcBATL/
srcUserExtra/
data
dataCRASH
srcPostProc/*.log
srcPostProc/*.out
srcPostProc/*.dat
srcPostProc/SPECTRUM.in
