*.mod
*.o
*.a
*.diff
*.exe
*.in
*.out
*~
*.speed
*.protex

run*/
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
stand_alone.f90
BATL_size.f90
ModSize.f90
ModUser.f90
ModUser.f90.safe
ModEquation.f90
ModEquation.f90.safe
ModHdf5.f90
ModImplHypre.f90
Tmp_*
util/
share/
srcBATL/
data
dataCRASH
srcPostProc/*.log
srcPostProc/*.out
srcPostProc/*.dat
