!- PARAM.in:  Example input file for BATSRUS -- problem_saturn

#TEST
read_inputs amr ionosphere

#TESTXYZ
4.5			Xtest		(X coordinate of cell for testing)
4.5			Ytest		(Y coordinate of cell for testing)
0.0			Ztest		(Z coordinate of cell for testing)

#INCLUDE
Param/SATURN/Magnetosphere

#INCLUDE
Param/SATURN/Ideal_Corotation

#INCLUDE
Param/SATURN/South_IMF

#SAVELOGFILE
T			save_logfile Rest of parameters read if true
VAR step		log_string
50			dn_output(logfile_)
rho p rhopnt ppnt Uxpnt Uypnt Uzpnt rhoflx pntflx     log_vars 
3.4 4.0		  	R_log  !radii where flx is calc. Read if vars inc. flx.

#CHECKSTOPFILE
T			check_stopfile

#IONOSPHERE
F			UseIonosphere   ! Rest of the parameters read if .true.
0			conductance_model
T			UseFullCurrent
F                       UseFakeRegion2
5.			f107_flux
5.			StarLightPedConductance
5.			PolarCapPedConductance
100			dn_couple_ionosphere
60.0			dt_couple_ionosphere

#MASSLOADING
F                       UseMassLoading 
F                       AccelerateMassLoading 

#INCLUDE
Param/SATURN/Mag_SSSS_0.2Rs

#RUN

=========================END of SESSION 1============================

#AMR
500			dn_refine (frequency in terms of total steps n_step)
T			automatic_refinement 
20.			percentCoarsen
20.			percentRefine
7500			maxTotalBlocks

#AMRRESOLUTION
.25			min_cell_dx
2.0			max_cell_dx
T			fix_body_level

#AMRCRITERIA
2			nRefineCrit (number of refinement criteria: 1,2 or 3)
curlB			RefineCrit(1)
gradP			RefineCrit(2)

#TIMESTEPPING
F			time_accurate          (default is false)
1			nSTAGE                 (default is 1 stage)
0.60			cfl                    (default is 0.8)

#SCHEME
2			nORDER (1 or 2)
2			fluxfcn_type  1=Roe, 2=Rusanov, 3=Linde
minmod			limiter_type ! Only for nordder=2

#BORIS
T			boris_correction
0.03                    boris_cLIGHT_factor

#STOP
3100

#SAVERESTART
T			save_restart_file  Rest of parameters read if true
3100			dn_output(restart_)

#RUN

=========================END of SESSION 2============================

#SAVERESTART
T			save_restart_file  Rest of parameters read if true
2000

#TIMESTEPPING
T			time_accurate          (default is false)
1			nSTAGE                 (default is 1 stage)
0.60			cfl                    (default is 0.8)

#BORIS
T			boris_correction
0.01			boris_cLIGHT_factor !Only if boris_correction is true

#MASSLOADING
T                       UseMassLoading 
F                       AccelerateMassLoading 

#AMR
500			dn_refine (frequency in terms of total steps n_step)
F			automatic_refinement 

#STOP
5000
-1.

#RUN

=========================END of SESSION 3============================

#SAVEPLOT
5                       nplotfiles
y=0 MHD tec             plot_string
2000                    dn_output(plot_+2)
-1.
z=0 MHD tec             plot_string
2000                    dn_output(plot_+3)
-1.
ion MIN tec             plot_string
2000                    dn_output(plot_+3)
-1.
sph FLX tec		plot_string
2000			dn_output(4)
-1.
3.4			R_plot - R of spherical cut, Read only for area 'sph'
sph FLX tec		plot_string
2000			dn_output(4)
-1.
4.			R_plot - R of spherical cut, Read only for area 'sph'

#SAVEPLOTSAMR
F			save_plots_amr to save plots before each AMR

#AMR
-1			dn_refine (frequency in terms of total steps n_step)
F			automatic_refinement 

#STOP
10000
-1.

=========================END of SESSION 4============================

#END
